body {
    margin: 0px;
    left: 0;
    top: 0;
    bottom: 0;
    font-size: 16px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

/*#navbarArray ul{
    width: 80%;
}*/
#environment{
 display:none;
}
  #LaPrairie{
    display:none;
  }
  #agileGestion{
    display:none;
  }
 #ArchiBasicApp{
    display:none;
 }
  #PlanifierTecProjet{
    display:none;
  }
 #outPutSection{
    display:none;
 }


.mainCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#mainCard-home {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #f0e68c;
}

.homeCard {
    width: 45%;
    height: auto;
    margin-left: 10px;
}

iframe {
    width: 100%;
    height: 350px;
}

#navMain {
    background-color:#f38c21;
}
a.navbar-brand{
    color:#000;
}

.dropdown .nav-link {
    margin-left: 150px;
}

.dropdown a {
    line-height: 3;
    color: #fff;
}

.dropdown-item {
    cursor: pointer;
    color: #000; 
}

.dropdown-menu {
    background-color: #f38c21;
    color: #000;
}

ul li {
    list-style: none;
}

.list-group-item {
    list-style: none;
}

.list-group-item.active {
    background-color: rgb(185, 252, 0);
    color:#000;
}

.fa {
    font-size: 35px;
    color: #f38c21;
    margin-right:10px;
}

.fa-user-circle {
    margin-right: 10px;
}

.fa-eye {
    margin-right: 10px;

}
.fa-eye-slash{
    margin-right: 10px;
}

.faArrowRight {
    float: right;

}
.boxMessage{
    border-top: 20px solid #f38c21;
     background-color:#f0e68c88; 
    display:none;
}
.fa-close{
    float:right;
    font-size:15px;
    cursor: pointer;

}
.boxMessage > .card-title{
 text-align:center;
 font-size:15pt;
 background-color: rgba(204, 204, 204, 0.418);
}
.fa-send-o{
    color:green;
    font-size:24px;
    float:right;
    cursor: pointer;

}

.mainCard {
    border-top: 20px solid #f38c21;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: khaki;
}
#github{
    color:#000;
    font-weight: bolder;
}

.introCard {
    background-color: rgb(185, 252, 0);
    width: 170px;
    height: 150px;
    font-size: 10pt;
    margin-bottom: 10px;

}

.ui-state-default {
    background-color: #C7EA46;
}

.ui-state-active {
    background-color: orangered;

}

.ui-accordion-content-active {
    height: 180px;
}

section {
    width: 100%;
}

.modal-header {
    background-color: orangered;
}

#carousel {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

figure {
    margin: 0;
}

.container {
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 60px auto;
     perspective: 100px;
    -webkit-perspective: 100px;
     perspective-origin: 50% -25%;
}

    .carousel {
       transform-style: preserve-3d;
        /* transform: translateZ(540px); */
        position: relative;
         margin: 0; 
        width: 100%;
        height: 100px;
        /* transition: 1s;  */ 
        
    
     }

        .carousel > div{
            position: absolute;
            border: 5px solid rgb(238, 222, 84);
            opacity: .5;
            padding:5px;
           /* transition: 5s; */
            width: 100%;
            height: 281px;
            background:#fff;
             animation: slider 9700ms ease-in-out forwards infinite;
        }
        blockquote{
            margin-top:40px;
            color:#000;
            font-size:18pt;
            font-weight: bolder;
        }
       
        
      @keyframes slider{
        0%{transform: translateZ(540px)scale(.9);}
        /* 10%{transform: rotateY(10deg) translateZ(540px) scale(.9);}
        20%{transform: rotateY(20deg) translateZ(540px) scale(.9);}
        30%{transform: rotateY(30deg) translateZ(540px) scale(.9);}
        40%{transform: rotateY(40deg) translateZ(540px) scale(.9);}
        50%{transform: rotateY(50deg) translateZ(540px) scale(.9);}
        60%{transform: rotateY(60deg) translateZ(540px) scale(.9);}
        70%{transform: rotateY(70deg) translateZ(540px) scale(.9);}
        80%{transform: rotateY(80deg) translateZ(540px) scale(.9);}*/
        90%{transform: rotateY(90deg) translateZ(540px) scale(.9);} 
       100%{transform: rotateY(100deg) translateZ(540px) scale(.9);}
      
         
      }
      .carousel div:nth-child(1) {animation: slider 6400ms ease-in-out forwards 2s }
      .carousel div:nth-child(2) {animation: slider 6400ms ease-in-out forwards 5s}
      .carousel div:nth-child(3) { animation: slider 6400ms ease-in-out forwards 9s}
      .carousel div:nth-child(4) { animation: slider 6400ms  ease-in-out forwards 13s }
      .carousel div:nth-child(5) { animation: slider 6400ms ease-in-out forwards 16s}
      .carousel div:nth-child(6) { animation: slider 6400ms ease-in-out forwards 19s }
      .carousel div:nth-child(7) { animation: slider 6400ms ease-in-out forwards 21s}
      .carousel div:nth-child(8) { animation: slider 6400ms ease-in-out forwards 25s}

label {
    cursor: pointer;
    background: #eee;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    padding-top: 7px;
    height: 23px;
    font: .9em Arial;
}

label:hover {
    background: #ddd;
}

input {
    position: absolute;
    left: -9999px;
}

input:checked + label {
    font-weight: bold;
    background: rgba(221, 221, 221, 0.486);
}

    input[value="1"]:checked ~ .container .carousel { transform: translateZ(-540px); }
    input[value="2"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-45deg); }
    input[value="3"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-90deg); }
    input[value="4"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-135deg); }
    input[value="5"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-180deg); }
    input[value="6"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-225deg); }
    input[value="7"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-270deg); }
    input[value="8"]:checked ~ .container .carousel { transform: translateZ(-540px) rotateY(-315deg); }

    input[value="1"]:checked ~ .container .carousel img:nth-child(1) { transform: translateZ(540px) scale(1); opacity: 1; }
    input[value="2"]:checked ~ .container .carousel img:nth-child(2) { transform: rotateY(45deg) translateZ(540px) scale(1); opacity: 1; }
    input[value="3"]:checked ~ .container .carousel img:nth-child(3) { transform: rotateY(90deg) translateZ(540px) scale(1); opacity: 1; }
    input[value="4"]:checked ~ .container .carousel img:nth-child(4) { transform: rotateY(135deg) translateZ(540px) scale(1); opacity: 1; }
    input[value="5"]:checked ~ .container .carousel img:nth-child(5) { transform: rotateY(180deg) translateZ(540px) scale(1); opacity: 1; }
    input[value="6"]:checked ~ .container .carousel img:nth-child(6) { transform: rotateY(225deg) translateZ(540px) scale(1); opacity: 1; }
    input[value="7"]:checked ~ .container .carousel img:nth-child(7) { transform: rotateY(270deg) translateZ(540px) scale(1); opacity: 1; }
    input[value="8"]:checked ~ .container .carousel img:nth-child(8) { transform: rotateY(315deg) translateZ(540px) scale(1); opacity: 1; }

.animate {
    position: relative;
    -webkit-animation-name: animateRow;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    animation-name: animateRow;
    animation-duration: 1s;
}

/* The animation code */
@keyframes animateRow {
    0% {
        background-color: rgb(233, 231, 231);
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: rgb(245, 243, 228);
        left: 0px;
        top: 0px;
    }

    50% {
        background-color: rgb(245, 240, 194);
        left: 0px;
        top: 200px;
    }

    75% {
        background-color: rgb(246, 238, 166);
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: khaki;
        left: 0px;
        top: 0px;
    }
}

.navbar-nav li .fa {
    color: #C7EA46;
    line-height: 1;
}

.navbar-nav li {
    margin-left: 50px;
}

#parametre {
    color: #fff;
    font-size: 18px;
}

@media screen and (max-width:768px) {
    .homeCard {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }

    .dropdown-menu {
        background-color: transparent;
        color: #fff;
    }

    .dropdown .nav-link {
        margin-left: 80px;
    }
    .navbar-toggler{
       
        background-color: #C7EA46;
    }
    .navbar-toggler-icon{       
         width:10px;
         height:10px;
    }

}